:root {
  background-color: #24292f;
  margin: 0 20px;
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: white;
}
/******************************** Nav BAR *********************** */
.fa-bars {
  display: none;
}

nav {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  background-color: #24292f;
  height: 50px;
  width: 100%;
}

.nav_items {
  display: flex;
  width: 100%;
  margin-right: 3%;
}

li.home {
  margin-right: auto;
  justify-content: flex-start;
}
.nav_item {
  color: wheat;
  list-style: none;
  margin: 10px;
  font-size: 1.5rem;
}

.nav_item:hover {
  color: white;
  cursor: pointer;
}

/**************************************** main section *********************/
/* REFACTOR */
.banner {
  border: 1 px solid red;
  width: 100%;
}
.banner img {
  /* background-image: url("https://thumbor.forbes.com/thumbor/fit-in/1200x0/filters%3Aformat%28jpg%29/https%3A%2F%2Fspecials-images.forbesimg.com%2Fimageserve%2F5f709d82fa4f131fa2114a74%2F0x0.jpg"); */
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.members_posts {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.user_post {
  display: flex;
  /* flex-basis: auto; */
  margin: 30px 10px;
  height: auto;
  width: 34ch;
  font-size: 1.5rem;
}

.user_post p > img {
  border-radius: 100%;
  display: inline;
}

footer {
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #24292f;
  color: wheat;
}

.icons {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid white;
  /* justify-content: flex-end; */
}
.icons i {
  align-self: flex-end;
  margin: 8px;
  justify-content: space-between;
}

/* MEDIA QUERIES */

@media (max-width: 1320px) {
  :root {
    font-size: 20px;
  }

  .nav_items {
    margin-right: 6%;
  }

  .user_post {
    flex-basis: 1 1 10em;
    /* width: 100ch !important; */
    border-bottom: 1px solid black;
    padding-bottom: 20px;
  }

  .user_post:last-child {
    border-bottom: none;
  }
}

@media (max-width: 1115px) {
  :root {
    font-size: 25px;
  }
  .nav_items {
    margin-right: 6%;
  }

  .user_post {
    /* flex-basis: 1 1 10em; */
    width: 100ch !important;
    border-bottom: 1px solid black;
    padding-bottom: 20px;
  }

  .user_post:last-child {
    border-bottom: none;
  }
}

@media (max-width: 745px) {
  :root {
    font-size: 20px;
  }

  .nav_item {
    display: none;
  }

  .fa-bars {
    display: block;
    font-size: 2rem;
    color: wheat;
  }
}
