#red {
    background-image: linear-gradient(red, white);
}

#lightred {
    background-image: linear-gradient(#ffcccb, white);
}

#green {
background-image: linear-gradient(green, white);
}

#lightgreen {
    background-image: linear-gradient(lightgreen, white);
}

#blue {
    background-image: linear-gradient(blue, white);
}

#skyblue {
    background-image: linear-gradient(skyblue, white);
}



  