:root{
    font-family: sans-serif;
    background-color: black;
    color: white;
    font-size: 1.6vh;
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
header{
    margin: 20px;
}
header h1{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: lighter;
    color: rgb(184, 184, 184);
}
header h2{
    font-size: 1rem;
    font-weight: lighter;
    font-style: italic;
}
nav{
    text-transform: uppercase;
    background-color: white;
    color: darkgrey;
    padding: 6px;
    width: 100%;
}
nav a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover{
    background-color: darkgrey;
    text-decoration: none;
    font-weight: bolder;
    padding: 6px;
}
main{
    display: flex;
    flex-direction: row;
}
aside{
    text-transform: uppercase;
    border: solid 2px rgb(48, 48, 48);
    background-color: darkgrey;
    color: black;
    font-size: 1.25vh;
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 14ch;
    overflow-x: hidden;
    position: fixed;
    left: 0px;
    text-align: center;
    margin: 8px;
}
aside a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}
aside a:hover{
    background-color: white;
    text-decoration: none;
    font-weight: bolder;
    padding: 6px;
}
footer{
    text-align: center;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.banner{
    filter: grayscale(100%);
    width: 100%;
}
.content{
    display: flex;
    width: 100%;
    min-height: 60vh;
}
.display-blogs{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
}
.spacer{
    width: 14ch;
    left: 0px;
    margin: 8px;
}
.blog-post{
    display: flex;
    flex-direction: column;
    margin: 1%;
    width: 54ch;
    height: 100ch;
}
.blog-title{
    display: flex;
    justify-content: center;
    margin-bottom: 2ch;
}
.blog-title h3{
    color: rgb(184, 184, 184);
}
.blog-image{
    filter: grayscale(100%);
    height: 35vh;
    width: 35vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border-radius: 100%;
}
.archive{
    background-color: rgb(48, 48, 48);
    color: darkgray;
    padding: 1vh; 
}
.readmore{
    text-align: right;
    color: darkgray;
}
.readmore:hover{
    color: white;
    
}

@media (max-width: 1400px){
    aside{
        display:none
    }
    .spacer{
        display: none;
    }
}

@media (max-width: 800px){
    :root {
        font-size: 1rem;
    }
    .content {
        flex-direction: column;
        justify-content: center;
    }
    .display-blogs {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .blog-image{
        height: 45vh;
        width: 45vh;
    }
}
@media (max-width: 415px){
    :root {
        font-size: .9rem;
    }

    .blog-post{
        width: 34ch;
    }
    .blog-image{
        height: 30vh;
        width: 30vh;
    }
    nav a{
        font-size: .8rem;
    }
}