{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Bloggity Blog</title>
    <link rel="stylesheet" href="{% static 'routing/blog.css' %}">
</head>
<body>
    <header>
        <img src="https://picsum.photos/1200/300" height=:"300" width="1200">
    </header>
    <nav>
        <a class="nav-home" href="/">Home</a>
        <div class="nav-links">
            <a href="/Sep11/">Sep 11</a> |
            <a href="/Sep12/">Sep 12</a> |
            <a href="/Sep13/">Sep 13</a> |
            <a href="/Sep14/">Sep 14</a>
        </div>
        
    </nav>
    <h1>Words</h1>
    <br>
    <main>
        <div class="First">
            <section class="main content">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae eius, consequuntur necessitatibus pariatur repellat fugit aut architecto. Voluptates, ad. Quo sequi obcaecati inventore optio temporibus. Mollitia corporis accusamus deleniti expedita?</p>
            </section>
            <section class="sidenav">
                <a href="/Topic/">Topic</a><br> |
                <a href="/Topic1/">Topic1</a><br> |
                <a href="/Topic2/">Topic2</a><br> |
                <a href="/Topic3/">Topic3</a><br>
            </section>
        </div>
        <br>
        <div class="Second">
            <section>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla iusto adipisci labore. Corporis molestias iste officia, ratione mollitia, minima illo impedit eos aut, id ipsa! Sit quidem unde autem quasi, placeat nihil ipsa deleniti modi veritatis consequuntur tempora. Numquam, quis. Quos ipsam tempore laboriosam ut fugit, mollitia, nesciunt at nisi non quasi facere, nobis eligendi commodi quae inventore eaque quam.</p>
            </section>
            <br>
            <aside class="aside">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum sunt facilis ipsum earum pariatur minima nulla ex reprehenderit molestiae accusamus, debitis quis. Laboriosam labore enim sapiente, ea sint porro recusandae?</p>
            </aside>
        </div>
    </main>
    
    
    <footer>
        <p>Contact Author: <a href="mailto:mazurkr@gmail.com">author@authorsemail.com</a></p>
    </footer>
</body>
</html>