<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue Day 1 Demo</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <h1>{{ message }}</h1>
    <p>{{ name }} is {{ age }} years old</p>
    <input v-model='name' type="text">
    <button v-on:click="birthday">Happy Birthday!!</button>

    <ul>
      <li v-for="color in colors">
        {{ color }}
      </li>
    </ul>
  </div>
  <div id="app-2">
    <input v-model="color" v-on:keyup.enter="addColor" type="text">
    <button v-on:click="addColor">Add Color</button>
    <ul>
      <li v-for="color in colors" v-on:click="removeColor(color)">
        {{ color }}
      </li>
    </ul>
  </div>

  <script src="./main.js"></script>
</body>
</html>