{% extends 'blog/base.html' %}

{% block title %}
New blog!
{% endblock title %}

{% block bg %} 
<style>
    body {
        background-image: url('https://picsum.photos/id/1072/1000/1000');   
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>
{% endblock bg %}

{% block content %}
<form action="{% url 'create' %}" method="POST">
    {% csrf_token %}
    <h1>Create your new blog!</h1>
    <div>
        <h3>Title</h3>
        {{ form.title }}
    </div>
    <div>
        <h3>Body</h3>
        {{ form.body}}
    </div>
    <div>
        {{ form.user_choice}}
    </div>
    <input type="submit" value="Create Blog">
</form>
{% endblock content %}