{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Pokedex</title>

        <!-- Vue -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!-- Custom script -->
        <script defer src="{% static 'pokeapp/main.js' %}"></script>
        <!-- Axios -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js" integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>
<body>

    <div id="app">
        <!-- display 'message' from the 'data' part of the app in the page -->
        <!-- <span>{{ message }}</span> -->
        <!-- allow the user to set the value of the input -->
        <input type="text" v-model="message"/>
        <!-- handle a click event of a button - calls the method sayHello -->
        <button v-on:click="sayHello">click</button>
        <!-- Add Display and Search-->
      </div>

</body>
</html>