<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Todo</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script defer src="./main.js"></script>
    <link rel="stylesheet" href="styles.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
  </head>
  <body>
    <div id="app" class="container">
      <div class="row center-align">
        <div class="col s12">
          <h3 class="">Todo List</h3>
        </div>
      </div>
      <div class="row center-align">
        <div class="col s8 offset-s2">
          <input
            type="text"
            id="todo-item"
            v-on:keyup.enter="addTodo"
            v-model="newTodo"
          />
          <button id="add-todo-btn" v-on:click="addTodo">Add Todo</button>
        </div>
      </div>
      <div class="row">
        <div id="todos" class="col s6 offset-s3">
          <div class="row center-align">
            <h5>Your todos</h5>
          </div>
          <div class="todo-item row" v-for="(todo, i) in todos">
            <div class="col s10">
              <p class="todo-text" :class="{done:todo.isDone}">
                {{ todo.task }}
              </p>
            </div>
            <div class="col s2 right-align buttons">
              <button class="remove-btn">
                <i class="small material-icons" v-on:click="removeTodo(todo,i)"
                  >delete</i
                >
              </button>
              <button class="complete-btn" v-on:click="completeTodo(todo)">
                <i class="small material-icons">check</i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
