<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>
<body>
    <h1>Todos:</h1>
    <a href="{% url 'todolist:add_todo' %}">Add new todo</a>
    <ul>
        {% for todo in todos %}
            <!-- localhost:8000/todos/remove/0 -->
            <a href="{% url 'todolist:remove_todo' forloop.counter0 %}">
                <li>{{ todo }}</li>
            </a>
        {% empty %}
            <h1>No todos yes...</h1>
        {% endfor %}
    </ul>
    {% if todos %}
        <a href="{%url 'todolist:clear_todos'%}"">Clear todos</a>
    {% endif %}
</body>
</html>