{% extends 'lab05_users/base.html' %}

{% block title %}
Blog
{% endblock title %}

{% block content %}

<h1>Welcome to My Blog</h1>

{% if not request.user.is_anonymous %}
<form action="{% url 'new_post' %}" method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Post">
</form>
{% endif %}

{% for post in posts %}
<div>
    <p>{{post.text}}</p>
    {% if request.user == post.user %}
    <a href="{% url 'delete_post' post.id %}">❌</a>
    {% endif %}
    <h6>{{post.user}}</h6>
    {% if not request.user.is_anonymous %}
    <p>
        <a href="{% url 'like' post.id %}">👍{{post.likes}}</a> 
        <a href="{% url 'dislike' post.id %}">👎{{post.dislikes}}</a>
        <a href="{% url 'detail' post.id %}">↪</a>
    </p>
    {% endif %}
    <p>{{post.published_date}}</p>
</div>
{% endfor %}

{% endblock %}

