
.square {
    height: 400px;
    width: 400px;
    background-color: blue;
  }
  
  .square:hover {
    animation-name: change-color;
    animation-duration: 2s;
  }
  
  @keyframes change-color{
    0% {
      background-color: blue;
    }
    50% {
      background-color: green;
    }
    100% {
      background-color: darkorchid;
      height: 200px;
      width: 600px;
    }
  }
  
  img {
    animation-duration: 2s;
  }
  
  img:hover {
    animation-name: zoom-image;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }
  
  @keyframes zoom-image{
    from {
      box-shadow: none;
      transform: scale(1);
    }
    to {
      box-shadow: 4px 4px 4px 0 black;
      transform: scale(1.5);
    }
  }
  
  
  .transition {
    font-size: 50px;
    text-decoration: none;
    color: orange;
    transition: all 4s ease-in;
  }
  
  .transition:hover {
    color: darkorange;
    box-shadow: 4px 4px 4px 0 black;
  }
  
  .animate {
    font-size: 50px;
    text-decoration: none;
    color: lightblue;
  }
  
  .animate:hover {
    animation: link-animation 2s ease-in-out;
    animation-fill-mode: forwards;
  }
  
  @keyframes link-animation {
    from {
      border-bottom: 2px solid transparent;
    }
    to {
      color: blue;
      border-bottom: 2px solid blue;
    }
  }
  
  .spinner {
    font-size: 50px;
    background-color: transparent;
    border: 1px solid rgb(63, 24, 24);
    border-radius: 4px;
    box-shadow: 4px 4px 4px 0 rgba(234, 32, 130, 0.606);
  }
  
  .spinner:focus {
    animation: focus-button 2s ease-in;
  }
  
  .spinner:active {
    animation: active-button .5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes active-button {
    to {
      box-shadow: none;
      transform: translate(4px, 4px);
    }
  }
  
  @keyframes focus-button {
    from {
      transform: rotate(0deg)
    }
    to {
      transform: rotate(-360deg);
    }
  }