body {
    height: 100%;
}
.header-top {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.nav-button {
    margin-left: 10px;
}

.side-nav-toggler {
    border: none; 
    background: none;
}

.side-nav-toggler i {
    font-size: 1.3rem;
}

.menu-dropdown {
    font-size: .8rem;
}
