

a {
    text-decoration: none;
    font-size: 48px;
    border-radius: 12px;
    padding: 8px;
    transition: all .6s;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.352);
}

a:hover {
    font-size: 52px;
}

a:active {
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.352);
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}