{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'rps/styles.css' %}">
    <title>Results</title>
</head>
<body>
    <section class='display'> 
        <!-- <h1>{{ choice }}</h1>
        <h1>{{ computer }}</h1>
        <h1>{{ result }}</h1> -->
        <h1 class = 'results'>YOU chose:</h1>
        <break>
        </break>
        <div class = 'btn-rock'>
        {% if choice == 'rock' %}
            <h1 class='btn'>&#x1F5FF;</h1>
        {% elif choice == 'paper' %}
            <h1 class='btn'>&#x1F4C3;</h1>
        {% elif choice == 'scissors' %}
            <h1 class='btn'>&#x2702;</h1>
        {% endif %}
        </div>
        <h1 class = 'results'>Computer chose:</h1>
        <div class= 'btn-rock'>
        {% if computer == 'rock' %}
            <h1 class='btn'>&#x1F5FF;</h1>
        {% elif computer == 'paper' %}
            <h1 class='btn'>&#x1F4C3;</h1>
         {% elif computer == 'scissors' %}
            <h1 class='btn'>&#x2702;</h1>
        {% endif %}
        </div>
        <h1 class= 'win_lose_draw'>{{ result }}</h1>


    </section>
    <div class = "btn-again">
        <div class="btn"><a href="{% url 'rps:request_rps' %}"><h1>Play Again
        </h1> 
        </a>
    </div>
    </div>
</body>
</html>