* {
    margin: 0;
    padding: 0;
}

body {
    background: white url("images/background.jfif") no-repeat center center;
    height: 100vh;
}

.wrapper {
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    list-style-type: none;
}

li a {
    color: green;
    font-size: 5rem;
}