nav {
    display: flex;
    justify-content: space-between;
}

.nav_links {
    display: flex;
}

.nav_links a {
    text-decoration: none;
    padding: 10px;
    border: 1px solid #333;
    background: #FFF;
    color: #333;
    transition: .2s;
}

.nav_links a:hover {
    background: #333;
    color: #EEE;
}