<div style="background-color: lightsalmon; padding: 1px 5px; border-radius: 5px;">
    <h2>Django blog</h2>
    <div>
        {% if user.is_authenticated %}
            <span>Welcome, {{ user.username }}</span>
            <a href="/profile"><button>Profile</button></a>
            <a href="/logout"><button>Logout</button></a>
        {% else %}
            <a href="/login"><button>Login</button></a>
            <a href="/register"><button>Register</button></a>
        {% endif %}
    </div>
</div>
<div style="background-color: rgb(99, 199, 186); border-radius: 5px; padding: 2px 5px;">
    {% block content %}
    {% endblock %}
</div>

<style>
button, input[type='submit'] {
  background-color: #6470a7;
  border: 2px solid rgb(74, 138, 95);
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  transition-duration: 0.5s;
}

button:hover, input[type='submit']:hover {
    background-color: white;
    border: 2px solid rgb(214, 179, 64);
    color: #6470a7;
}
</style>