<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
</head>
<body>
    <a href="{% url 'todolist:add_todo' %}">Add a new todo</a>
    <h1>Todos:</h1>
    <ul>
        <!-- for loop to put every item as an unordered list -->
        {% for todo in todos %}
            <a href="{% url 'todolist:remove_todo' forloop.counter0 %}"><li>{{ todo }}</li></a>
        {% empty %}
            <li>No todos yet...</li>
        {% endfor %}
    </ul>
    {% if todos %}
        <a href="{% url 'todolist:clear_todos' %}">Clear todos</a>  
    {% endif %}
        <!-- we use the value of name in urlpatterns in urls.py inside of app -->
    <!-- specify what app to look for index -->
</body>
</html>