{% extends 'jat/base.html' %}

{% block title %}
Home
{% endblock title %}

{% block content %}
<div id="app">
    <div>
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <div class="container-fluid">
              <a class="navbar-brand">Applications</a>
              <a class="navbar-brand">Favorites</a>
              <a class="navbar-brand">Charts</a>
              <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search by Job Title or Company Name" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
            </div>
          </nav>
    </div>
    <div>
        <h1 class="text-center">Job Applications (make this reactive to the current tab selected)</h1>
    </div>
    <div class="container">
        <div class="row align-items-start">
            <div v-for="post in posts" class="col">
                <div  class="card mb-3" style="max-width: 18rem;" v-if="post.status === 'Not Selected'" id="red">
                    <div class="card-header">[[ post.status ]]</div>
                    <div class="card-body">
                      <h5 class="card-title">[[ post.job_title ]]</h5>
                      <p class="card-text">[[ post.notes.substring(0,20)+".."  ]]</p>
                    </div>
                  </div>
                  <div  class="card mb-3" style="max-width: 18rem;" v-if="post.status === 'Applied'" id="skyblue">
                    <div class="card-header">[[ post.status ]]</div>
                    <div class="card-body">
                      <h5 class="card-title">[[ post.job_title ]]</h5>
                      <p class="card-text">[[ post.notes.substring(0,20)+".."  ]]</p>
                    </div>
                  </div>
                  <div  class="card mb-3" style="max-width: 18rem;" v-if="post.status === 'Offer'" id="green">
                    <div class="card-header">[[ post.status ]]</div>
                    <div class="card-body">
                      <h5 class="card-title">[[ post.job_title ]]</h5>
                      <p class="card-text">[[ post.notes.substring(0,20)+".."  ]]</p>
                    </div>
                  </div>
                  <div  class="card mb-3" style="max-width: 18rem;" v-if="post.status === 'Selected for interview'" id="blue">
                    <div class="card-header">[[ post.status ]]</div>
                    <div class="card-body">
                      <h5 class="card-title">[[ post.job_title ]]</h5>
                      <p class="card-text">[[ post.notes.substring(0,20)+".."  ]]</p>
                    </div>
                  </div>
                  <div  class="card mb-3" style="max-width: 18rem;" v-if="post.status === 'Interviewed'" id="lightgreen">
                    <div class="card-header">[[ post.status ]]</div>
                    <div class="card-body">
                      <h5 class="card-title">[[ post.job_title ]]</h5>
                      <p class="card-text">[[ post.notes.substring(0,20)+".."  ]]</p>
                    </div>
                  </div>
                  <div  class="card mb-3" style="max-width: 18rem;" v-if="post.status === 'Ghosted'" id="lightred">
                    <div class="card-header">[[ post.status ]]</div>
                    <div class="card-body">
                      <h5 class="card-title">[[ post.job_title ]]</h5>
                      <p class="card-text">[[ post.notes.substring(0,20)+".."  ]]</p>
                    </div>
                  </div>
            </div>
        </div>
    </div>
  
</div>
{% endblock content %}