{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Sloth's Bio</title>
        <link rel="stylesheet" href="{% static 'routing/biostyle.css' %}">
    </head>   
    <body>
        <h1>Sloths</h1>
        <p>Sloths are very interesting and unique species of mammals. The modern sloth is usually around the size of a medium-sized dog. But ancient sloths of years ago, known as "Megatherium", could grow as large as an Asian Elephant! Sadly, they became extinct about 10,000 years ago. 
        <br>
        For more information about these fascinating creatures head over to <a href="https://en.wikipedia.org/wiki/Sloth" target="_blank">wikipedia</a>     
        </p>

        <img src="https://images.unsplash.com/photo-1509243271451-2b84555736ad?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1032&q=80" alt="Sloth climbing a tree" height="200">

        <h2>Sloths habitats</h2>
        <p>According to <a href="https://www.worldwildlife.org/species/sloth" target="_blank">Worldwildlife.org</a> they mostly live in Central and South America, spending most of their lives in  the tropical rain forests.
        <br>
        Here is a short list of some places they call home in our time.
        </p>
        <ol>
            <li>Brazil</li>
            <li>Costa Rica</li>
            <li>Panama</li>
            <li>Colombia</li>
            <li>Peru</li>
            <li>Ecuador</li>
            <li>Nicaragua</li>
            <li>Suriname</li>
            <li>Guyana</li>
            <li>Venezuela</li>
        </ol>
        <br>
        <br>
        <h3>Threats</h3>
        <p>"The health of sloth populations is wholly dependent on the health of tropical rain forests. But tropical rain forests are at risk of deforestation. Without an abundance of trees, sloths will lose their shelter and food source. When sloths come to the forest floor—which they do once a week to relieve themselves—they are more exposed to predators and can do little to fend them off." - <a href="https://www.worldwildlife.org/species/sloth" target="_blank">Worldwildlife.org</a>       
        </p>

    </body>
    







</html>