{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Antartic vs Artic</title>
    <link rel="stylesheet" href="{% static 'routing/blog.css' %}">
</head>
<body>
    <header>
        <a id="top"></a>
        <img src="https://climate.nasa.gov/system/news_items/main_images/2861_2817_2849_G2014-093-Antarctic-1920-master_youtube_hq_print.jpg">
    </header>
    <nav>
        <a href="../contactus">Contact Us</a>
        <!-- another way to link a file is by using {% url 'bio' %} the value inside '' is the value in urls.py name variable -->
    </nav>
    <br>
    <main>
        <h1>Antartic vs Artic</h1>
        <p>We often get questions from readers about Earth’s sea ice in the Arctic and the Antarctic, and the differences between those areas. Arctic sea ice has declined over the past five decades, while Antarctic sea ice has increased, and then declined. Why do they behave differently?     
        </p>
        <br>
        <h3>How They’re Different</h3>
        <p>
            The primary difference between the Arctic and Antarctica is geographical. The Arctic is an ocean, covered by a thin layer of perennial sea ice and surrounded by land. ("Perennial" refers to the oldest and thickest sea ice.) Antarctica, on the other hand, is a continent, covered by a very thick ice cap and surrounded by a rim of sea ice and the Southern Ocean.
            
            The Arctic Ocean is very deep and closely linked with the climate systems around it, making it more sensitive to climate changes than Antarctica.
            
            During the centuries of human exploration in the Arctic, sea ice covered the Arctic Ocean well year-round, up until recent decades. But satellite observations show that Arctic sea ice has been declining in extent*, thickness and volume since 1979.1 Average Arctic sea ice extent is at its lowest since 1850.
            
            During the summer melt season, the sea ice’s edge retreats toward the North Pole, only to re-grow during the Arctic winter. As a result of ongoing warming driven by human activities, the trend toward summer sea ice loss (from July to September, followed by a winter re-growth) continues.
            
            Recent research suggests that there is a relationship between Arctic sea ice losses and the human burning of fossil fuels in all months.2 Aerosols (tiny particles suspended in the atmosphere) tied to human activities have offset some of the Arctic sea ice extent loss trend; a reduction in aerosol pollution will likely see a sea ice loss acceleration.3 Ice loss at the sea ice’s margins** results in winds driving warmer water beneath the Arctic sea ice, increasing the amount of heat the Arctic Ocean stores 4 and priming conditions for further sea ice loss. 
        </p>
    </main>
    <br>
    <br>
    <section>
        <h3>Why Sea Ice Matters</h3>
        <p>
            Some of the questions we receive ask why we should care about the polar regions. These regions are very important in regulating global temperature. Because sea ice has a bright surface, 50-70 percent of incoming energy is reflected back into space. As sea ice melts in the summer, it exposes the dark ocean surface. Instead of reflecting 50-70 percent of the sunlight, it absorbs 90 percent of the sunlight. As the ocean warms, global temperatures rise further.

            Also, what happens in the polar regions doesn’t stay in those regions. Their changes affect global temperatures and can even change ocean circulation. Earth’s sea ice is very attuned and responsive to even small changes in global surface and ocean temperatures.  
        </p>
        <br>
        <img src="https://climate.nasa.gov/internal_resources/1756/" alt="Artic and Antartica Sea Ice Trend">
        <p class="description">
            Arctic sea ice extent underwent a strong decline from 1979 to 2012 and Antarctic sea ice underwent a slight increase, although some regions of the Antarctic experienced strong declining trends in sea ice extent. The solid lines indicate 12-month running averages, while the dotted lines indicate the overall trend. Units of extent are shown as standard deviations, which refers to the extent of change from the average. (Source: National Snow and Ice Data Center)  
        </p>
        
    </section>
    <div class="footer"></div>
    <footer>
        <a href="#top">Back to top</a>
    </footer>
</body>
</html>