{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js" integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- js-cookie -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js" referrerpolicy="no-referrer"></script>
    <!-- Mainjs -->
    <script defer src="{% static 'blog/main.js' %}"></script>
</head>
<body>
  <div id="app">
    <h1>Blog</h1>
    <h2>[[ message ]]</h2>
    <!-- <form method="post">
      <input v-model="newPostTitle" name="title" placeholder="Title" type="text">
      <textarea v-model="newPostBody" name="body" cols="30" rows="10">Enter Post Here</textarea>
      <button v-on:click.prevent="submitPost">Post</button>
    </form> -->
    <!-- <div v-for="post in posts">
      <h3>[[ post.title ]]</h3>
      <p>[[ post.body ]]</p>
      <h6>[[ post.created_date ]]</h6>
    </div> -->
  </div>
</body>
</html>