{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groceries</title>
    <style>
        .completed {
            text-decoration
        }
    </style>
</head>
<body>
    <form action="{% url 'grocery_list:input' %}" method="post">
        {% csrf_token %}
        <input type="text" name="item">
        <input type="checkbox" name="status">
        <button type="submit">Add item</button>
    </form>
    <ul>
        {% for grocery in grocery_list %}
        <li
        {if grocery.status %}
        class='completed'
        {% endif %}>
        <a href ="{% url 'grocery_list:buy' grocery.id %}">{{ grocery.item }}</a></li>
        <a href ="{% url 'grocery_list:buy' grocery.id %}">&times;</a>
        {% endfor %}
      </ul>
</body>
</html>