* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
body {
    background-color: grey;
}
header {
    margin-top: 12px;
    height: 300px;
}
.nav_container {
    display: flex;
    justify-content: center;
}
.nav_inner{
    display: flex;
    justify-content: space-between;
    background-color: darkgrey;
    padding: 8px;
    width: 1200px;
}
.side_nav {
    display: flex;
    justify-content: left;
}
.nav_list {
    display: flex;
    justify-content: left;
    flex-direction: column;
    background-color: lightgrey;
    padding: 8px;
    max-width: 100px;
    min-height: 100px;
}