<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RPS</title>
</head>
<body>
    <h1>Enter Rock Paper or scissors</h1>
    <!-- {% if user_choice == computer_choice %}
         <h1>This is a tie</h1>
    {% elif user_choice == "rock" %}
         {% if computer_choice == "paper" %}
             <h1>The computer wins!</h1>
          {% else %}
             <h1>You Win</h1>
    {% endif %}
     {% elif user_choice == "paper" %}
         {%if computer_choice == "scissors" %}
              <h1>The computer wins</h1>
         {% else %}
             <h1>You win </h1>
    {% endif %}
     {% elif user_choice == "scissors" %}
         {% if computer_choice =="rock" %}
              <h1>The cojmputer wins</h1>
         {% else %}
             <h1>You Win</h1>
     {% endif %} -->
</body>
</html>