<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>VueTodos</title>
        <link rel="stylesheet" href="sass/style.css">
        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script defer src="./main.js"></script>
    </head>
    <body>
        <div id="app">
            <input v-model="newTodo" type="text" placeholder="New Todo">
            <button v-on:click="createTodo">&#x270E;</button>
            <h1>Incomplete Todos</h1>
            <ul v-bind:id="incTodos" v-for="i in incTodoList">
                <div v-bind:id="todoDivName">
                    <button v-on:click="moveTodo">&#x2714;</button>
                    <button>&#x2718;</button>
                    <p>{{i}}</p>
                </div>
            </ul>
            <h1>Completed Todos</h1>
            <ul v-bind:id="cmpTodos" v-for="i in todoList">
                <div v-bind:id="todoDivName">
                    <button v-on:click="moveTodo" v-model=moveTodoBtn>&#x279A;</button>
                    <button>&#x2718;</button>
                    <p>{{i}}</p>
                </div>
            </ul>
        </div>
        
    </body>
</html>