<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'posts:add_post' %}" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Blog Title" name="title"/>
        <input type="text" placeholder="Blog Post" name="body"/>
        <button type="submit">Post Blog</button>
    </form>
</body>
</html>