<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Snowman</title>
    <!-- AXIOS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js" integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- JAVASCRIPT -->
    <script defer src="./main.js"></script>
</head>
<body>
    <h1>Let's Play Snowman!</h1>
    <h3>You pick a letter and if it's right it stays cold. If you get it wrong it gets warm and he melts.</h3>
    <div id='app'>
        <img width=700 height=505 :src=snowman>
        <br>
        <button type="button" @click='checkLetter(l, index)' v-for="(l, index) in letters" :id="l">{{ l }}</button>
        <div id='wordGroup' style="display: flex;">
            <p v-for="(l, index) in word" :id="'letter' + index"class="wordBlock">-___-</p>
        </div>
        <!-- <p>{{word}}</p> -->
    </div>
</body>
</html>