{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Template</title>
    <link rel="stylesheet" href="{%  static 'routing/Lab02.css'  %}">
    <style>
      
    </style>
</head>
<body>
    <header>
        <!-- Banner -->
        <img src=https://picsum.photos/200/300 alt="workspace"
        width="100%"
        height="300">
        


    </header>

     
    <nav class="top-nav">
        
        <a class= "nav-link" href="/">Home</a>
        <a class= "nav-link" href="/">Sign In</a>
        <a class= "nav-link" href="/">About the Writer</a>
        
        
    </nav>
    

    <div>
    <nav class="side-nav">
        <a class="side_nav-link" href="/">Post 1</a>
        <a class="side_nav-link" href="/">Post 2</a>
        <a class="side_nav-link" href="/">Post 3</a>
    </nav>
    

    <section>
        <table>
        <thead><h5>Post 1</h5></thead>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium quaerat totam non vero. At culpa, est, porro optio iusto architecto labore tenetur delectus ipsam excepturi vitae omnis quas? Recusandae, quas?</p>
        <thead><h5>Post 2</h5></thead>
        <p>Nulla inventore voluptas sunt harum, eaque quod! Laboriosam beatae recusandae quo necessitatibus quasi corrupti perspiciatis ab provident pariatur nihil a, praesentium fuga velit inventore nostrum quibusdam cupiditate? Repellendus, recusandae incidunt!</p>
        <thead><h5>Post 3</h5></thead>
        <p>Asperiores placeat excepturi alias recusandae, earum consequuntur voluptates laboriosam iure quae similique? Cupiditate doloremque id quaerat velit officiis earum culpa at ducimus, sequi placeat est, fugiat accusantium enim numquam dolorum.</p>
        </table>
    </section></div>


    <footer>Da'Juan Made It &copy; 2021</footer>
</body>
</html>