{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lorem Scriptorium</title>
    <link rel="stylesheet" href="{% static 'routing/blog.css' %}">
</head>
<body>
    <!-- Heading -->
    <header>
        <h1>Lorem Scriptorium</h1>
        <h2>custos omnis scientiae</h2>
    </header>
    <!-- Navigation -->
    <nav>
        <a href="/Class_Polar_Bear/Code/Tom/HTML/blog.html">Roma</a> |
        <a href="/Class_Polar_Bear/Code/Tom/HTML/blog.html">Ariminum</a> |
        <a href="/Class_Polar_Bear/Code/Tom/HTML/blog.html">Belum</a> |
        <a href="/Class_Polar_Bear/Code/Tom/HTML/blog.html">Placentia</a> |
        <a href="/Class_Polar_Bear/Code/Tom/HTML/blog.html">Tarraco</a> |
        <a href="/Class_Polar_Bear/Code/Tom/HTML/blog.html">Italica</a> |
    </nav>
    <!-- Banner -->
    <div>
        <img class="banner" width="100vh" src="https://picsum.photos/id/231/1920/400" alt="Lorem Banner">
    </div>
    <!-- Content -->
    <main>
        <div class="content">
            <aside>
                <p class="archive">Archive</p>
                <a href="/Class_Polar_Bear/Code/Tom/HTML/blog.html">Roma</a>
                <a href="/Class_Polar_Bear/Code/Tom/HTML/blog.html">Ariminum</a>
                <a href="/Class_Polar_Bear/Code/Tom/HTML/blog.html">Belum</a>
                <a href="/Class_Polar_Bear/Code/Tom/HTML/blog.html">Placentia</a>
                <a href="/Class_Polar_Bear/Code/Tom/HTML/blog.html">Tarraco</a>
                <a href="/Class_Polar_Bear/Code/Tom/HTML/blog.html">Italica</a>
            </aside>
            <section class="display-blogs">
                <div class="spacer"></div>
                <div class="blog-post">
                    <img class="blog-image" src="https://picsum.photos/id/234/400" alt="blog1">
                    <div class="blog-title">
                        <h3>Titulus I | scriptum a deo</h3>
                    </div>
                    <p class="blog">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore, veritatis aliquid? Fuga inventore labore eum minus necessitatibus cum accusamus nam reprehenderit, perferendis deserunt nobis, odio nostrum impedit libero dolorum obcaecati cupiditate ullam laboriosam aut rerum. Quibusdam id ab cumque nulla, quo quae esse mollitia tenetur aperiam reprehenderit. Voluptas fuga reprehenderit, voluptates cum numquam corporis amet, veritatis cupiditate illo ea voluptatem. Asperiores, consectetur. Illo, perspiciatis exercitationem? Modi ex, ipsa blanditiis reprehenderit, odio adipisci facilis consequatur ut fuga voluptas cupiditate aperiam, delectus pariatur molestias sint! Quis aut commodi culpa perspiciatis natus. Quis, maiores corrupti suscipit tenetur debitis perferendis sint officia quidem laboriosam.</p>
                    <a class="readmore" href="/Class_Polar_Bear/Code/Tom/HTML/blog.html">pergo!</a>
                </div>
                <div class="blog-post">
                    <img class="blog-image" src="https://picsum.photos/id/235/400" alt="blog2">
                    <div class="blog-title">
                        <h3>Titulus II | scriptum a deo</h3>
                    </div>
                    <p class="blog">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, fugit! Atque ducimus reiciendis recusandae nemo quo voluptas minus corporis laboriosam amet ratione molestiae aspernatur, obcaecati officiis hic veniam ipsa iusto cupiditate id quibusdam repudiandae assumenda! Dolor repellat provident nihil doloribus est neque, qui ut unde, sint sunt soluta eius eligendi eveniet, animi officiis repudiandae obcaecati? Consequatur magni voluptatibus vero, quis similique eum est quos doloremque, cupiditate officia culpa veniam magnam harum tempora voluptate fugiat exercitationem! Non tenetur, asperiores optio, assumenda inventore ipsum at dolor voluptatibus numquam natus, hic qui quisquam illo exercitationem. Vel eveniet suscipit sed enim earum maiores laborum.</p>
                    <a class="readmore" href="/Class_Polar_Bear/Code/Tom/HTML/blog.html">pergo!</a>
                </div>
                <div class="blog-post">
                    <img class="blog-image" src="https://picsum.photos/id/236/400" alt="blog3">
                    <div class="blog-title">
                        <h3>Titulus III | scriptum a deo</h3>
                    </div>
                    <p class="blog">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero, similique itaque ipsa, molestias quaerat dolorum non atque nobis aliquam illum vero. Corporis deleniti similique odit dicta voluptate officia reprehenderit sapiente provident! Porro illo architecto adipisci pariatur iste dolorem fugit sapiente autem quae aperiam inventore voluptatibus minus, eligendi sit quaerat assumenda perferendis repudiandae laboriosam doloremque nemo ut fugiat. Repellat, maxime rerum voluptatum unde illum non eveniet, ut saepe ea excepturi perferendis, cupiditate reiciendis dolorum consectetur. Quod non exercitationem molestiae et. Alias voluptas veniam quas corrupti aperiam impedit cum dicta, eaque quis cupiditate saepe dolores nam. Sed, libero. Facilis sint ipsam cum.</p>
                    <a class="readmore" href="/Class_Polar_Bear/Code/Tom/HTML/blog.html">pergo!</a>
                </div>

            </section>
        </div>
    </main>
    <!-- Footer -->
    <footer>
        Lorem Scriptorium &copy; 2021
    </footer>
</body>
</html>