{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company</title>
    <link rel="stylesheet" href="{% static 'routing/company.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    
</head>
<body>
    <nav>
        <a class="logo" href="company.html">Potentia</a>
        <div class="nav-links">
            <a href="company.html">Exemplar r</a>
            <a href="company.html">Exemplar e</a>
            <a href="company.html">Exemplar x</a>
            <a href="company.html">Solaris</a>
            <div class="dropdown">
                <a href="company.html" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                    Aureus
                </a>
              
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li><a class="dropdown-item" href="company.html">Nummus</a></li>
                  <li><a class="dropdown-item" href="company.html">Denarius</a></li>
                  <li><a class="dropdown-item" href="company.html">Pecunia</a></li>
                </ul>
              </div>


        </div>
    </nav>
    <div id="banner" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://picsum.photos/id/107/1920/1080" class="d-block w-100" alt="na">
          </div>
          <div class="carousel-item">
            <img src="https://picsum.photos/id/108/1920/1080" class="d-block w-100" alt="na">
          </div>
          <div class="carousel-item">
            <img src="https://picsum.photos/id/241/1920/1080" class="d-block w-100" alt="na">
          </div>
        </div>
      </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#home-banner" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>

    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>

    </div>

    <section class="content">
        <p class="p-top">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum tempore harum fugit. Numquam atque animi officia incidunt quidem tempore iusto facilis sit quo, eligendi est velit, nesciunt quae distinctio quos. Non amet nobis maiores ratione incidunt impedit dolorem, minima esse dolorum nulla at, nam consequuntur. Officiis ea quas iure aspernatur quisquam maiores eos repudiandae, sed quae ullam unde vero iste neque suscipit recusandae impedit debitis vel! Vitae dolore excepturi nisi officia ducimus aperiam quod culpa nihil non, odit optio assumenda veritatis molestiae quis ex temporibus obcaecati natus dolor, maxime iusto mollitia. Vero voluptate nostrum beatae magnam maxime voluptas quasi voluptatibus.</p>

        <img src="https://picsum.photos/id/231/800" alt="na">
        <img src="https://picsum.photos/id/232/800" alt="na">
        <img src="https://picsum.photos/id/233/800" alt="na">

        <p>Id nesciunt dolore voluptates vitae possimus necessitatibus magnam! Voluptatum voluptates fugit nulla. Voluptatum temporibus nam libero quos exercitationem suscipit in iusto eum vero velit laborum, nisi voluptatibus, impedit facere corporis? Fugit mollitia eius, nihil eligendi natus incidunt ea dolores error alias, accusamus atque hic veniam debitis nobis in doloribus voluptatibus?</p>
        <p>Iusto eligendi explicabo veniam illum distinctio ut? Non quis at cum ut consectetur nesciunt. Molestiae aspernatur nihil aperiam distinctio nisi veniam suscipit consectetur deleniti adipisci perspiciatis corporis voluptates cum fugiat repellat veritatis, placeat tempora nemo excepturi voluptatibus error dolore impedit eos magnam recusandae. Consequatur dolore ipsa repudiandae animi quia repellendus?</p>
        <p>Quod odit deleniti necessitatibus natus recusandae totam aliquid dolorum aspernatur cupiditate. Quidem corrupti cum praesentium dolore adipisci. Temporibus facilis eum recusandae ut, hic deleniti illo magnam magni quisquam reiciendis nemo? Dolor perferendis animi error ex numquam quia architecto dolorem officiis. Quos quibusdam assumenda ullam et sunt optio ratione deserunt sed?</p>
        <p class="p-bottom">Beatae error sint sed dolores ullam quas quibusdam excepturi, placeat corrupti ab sit quo fuga atque laudantium tempora harum fugit eum ea aliquid exercitationem ad? Quisquam dolorem numquam sit omnis consequuntur est fugiat, aliquid earum quae, officiis libero labore quos similique saepe tempora nostrum aut, at quidem quia delectus in?</p>
    </section>

    <footer>Potentia &copy; 2021</footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</body>
</html>