{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.min.js"
      integrity="sha512-u9akINsQsAkG9xjc1cnGF4zw5TFDwkxuc9vUp5dltDWYCSmyd0meygbvgXrlc/z7/o4a19Fb5V0OUE58J7dcyw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script defer src="{% static 'pokeapp/main.js' %}"></script>
    <title>Document</title>
  </head>
  <body>
    <style>
      .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      }
    </style>
    <div id="app" class="container">
        <form action="">
            <input v-model="search" type="text">
            <input v-on:click.prevent="getPokemon" type="submit" value="Search Pokedex">
        </form>
      <div v-for="pokemon in pokedex">
        <h1></span>[[pokemon.name]]: <span>[[pokemon.number]]</h1>
        <h2>Height: [[pokemon.height]] m</h2>
        <h2>Weight: [[pokemon.weight]] kg</h2>
        <img v-bind:src="pokemon.image_front" alt="" srcset="" />
        <img v-bind:src="pokemon.image_back" alt="" srcset="" />
        <h3>Types:</h3>
        <p v-for="type in pokemon.types">[[type]]</p>
      </div>
    </div>
  </body>
</html>
<!-- number = models.IntegerField()
    name = models.CharField(max_length=25)
    height = models.FloatField()
    weight = models.FloatField()
    image_front = models.CharField(max_length=25)
    image_back = models.CharField(max_length=25)
    types  -->
