{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>RyGuy'sHomeSolutions</title>
    <!-- <link rel="stylesheet" href=""> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'company/styles.css' %}">
</head>
<body>
    <div class="row row-no-gutters">
        <div class="col-xs-12 col-md-8">.col-xs-12 .col-md-8</div>
        <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
    </div>    

    <div class="fill">

        <h1>
            Ry Guy's Home Solutions
        </h1>
            <a class="products" href="">Products</a>
            <a class="services" href="">Services</a>
            <a class="partners" href="">Partners</a>
            <a class="resources" href="">Resources</a>
            <a class="company" href="">Company</a>

    </div>
    <!-- Stack the columns on mobile by making one full-width and the other half-width -->
    <div class="row row-no-gutters">
        <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
        <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
        <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
    </div>
  
</body>
</html>