@import url('https://fonts.googleapis.com/css?family=Dosis:400,600');

body, html {
	height: 100%;
	font-family: 'Dosis', sans-serif;
	color: #fff;
	margin: 0;
}

.btn {
	font-size:20px;
	background-color:#fff;
	padding:20px;
	color:#333;
	border-radius: 20px;
}

.wrapper:not(.main) {
	width: 25%;
}

h1 {
	margin:0;
    font-size: 4rem;
}

.wrapper {
	height:30vh;
	display:flex;
	align-items:center;
	justify-content:center;
	min-height:250px;
	flex-direction:column;
	background:#00A5CF;
	/* border:solid 0.5px; */
}

section {
	display:flex;
	flex-wrap: wrap;
	justify-content:center;
	/* margin:30px 0; */
}

.main {
	background-color: #a74132;
	/* padding-top: 20px; */
}

.btn-1Wrapper {
    background-color: rgb(123, 175, 45);
}

.btn-1Wrapper .btn {
    background-color: white;
    color: rgb(123, 175, 45);
}

.btn-1Wrapper .btn:hover {
    animation: btn1-hover 2s;
    animation-fill-mode: forwards;
}

@keyframes btn1-hover {
    to {
        box-shadow: inset 0 0 0 5px rgb(123, 175, 45);
        border: solid 3px white;
    }
}

.btn-2Wrapper {
    background-color: #00A5CF;
}

.btn-2Wrapper .btn {
    background-color: white;
    color: #00A5CF;
}

.btn-2Wrapper .btn:hover {
    animation: btn2-hover 2s;
    animation-fill-mode: forwards;
}

@keyframes btn2-hover {
    to {
        border-radius: 0%;
    }
}

.btn-3Wrapper {
    background-color: rgb(175, 80, 36);
}

.btn-3Wrapper .btn {
    background-color: white;
    color: rgb(175, 80, 36);
}

.btn-3Wrapper .btn:hover {
    animation: btn3-hover 1s;
}

@keyframes btn3-hover {
    50% {
        font-size: 30px;
    }
    100% {
        font-size: 20px;
    }
}

.btn-4Wrapper {
    background-color: rgb(218, 156, 25);
}

.btn-4Wrapper .btn {
    background-color: white;
    color: rgb(218, 156, 25);
    box-shadow: 0 4px 0 0 grey;
}

.btn-4Wrapper .btn:active {
    animation: btn4-active .5s;
    animation-fill-mode: forwards;
}

@keyframes btn4-active {
    to {
        box-shadow: 0 3px 0 0 grey;
        transform: translateY(2px);
    }
}

.btn-5Wrapper {
    background-color: rgb(119, 184, 196);
}

.btn-5Wrapper .btn {
    background-color: white;
    color: rgb(119, 184, 196);
}

.btn-5Wrapper .btn:hover {
    animation: btn5-hover .4s;
}

@keyframes btn5-hover {
    50% {
        transform: translateX(6px);
    }
    100% {
        transform: translateX(-6px);
    }
}

.btn-6Wrapper {
    background-color: rgb(39, 101, 236);
}

.btn-6Wrapper .btn {
    background-color: white;
    color: rgb(39, 101, 236);
    box-shadow: 0 8px 10px 0px rgb(63, 62, 62);
}

.btn-6Wrapper .btn:active {
    animation: btn6-active 0.5s;
    animation-fill-mode: forwards;
}

@keyframes btn6-active {
    to {
        box-shadow: 0 3px 5px 0 rgb(66, 66, 66);
        transform: translateY(-1px);
    }
}

.btn-7Wrapper {
    background-color: rgb(88, 10, 233);
}

.btn-7Wrapper .btn {
    background-color: white;
    color: rgb(88, 10, 233);
    border-radius: 0%;
}

.btn-7Wrapper .btn:hover {
    animation: btn7-hover .7s;
    animation-fill-mode: forwards;
}

@keyframes btn7-hover {
    to {
        box-shadow: 4px -4px 0 0 black;
        transform: translate(-4px, 4px);
    }
}

.btn-8Wrapper {
    background-color: rgb(71, 136, 41);
}

.btn-8Wrapper .btn {
    background-color: white;
    color: rgb(71, 136, 41);
    transform: rotateX(35deg);
    box-shadow: 0 8px 10px 0 black;
}

.btn-8Wrapper .btn:hover {
    animation: btn8-hover .7s;
    animation-fill-mode: forwards;
}

@keyframes btn8-hover {
    to {
        box-shadow: 0 3px 10px 0 black;
        transform: rotateX(0);
    }
}

.btn-9Wrapper {
    background-color: rgb(112, 25, 112);
}

.btn-9Wrapper .btn {
    background-color: white;
    color: rgb(112, 25, 112);
}

.btn-9Wrapper .btn:hover {
    animation: btn9-hover .3s;
    animation-fill-mode: forwards;
}

@keyframes btn9-hover {
    to {
        opacity: 0.5;
    }
}

.btn-10Wrapper {
    background-color: rgb(187, 87, 87);
}

.btn-10Wrapper .btn {
    background-color: white;
    color: rgb(187, 87, 87);
}

.btn-10Wrapper .btn:hover {
    animation: btn10-hover .3s;
    animation-fill-mode: forwards;
}

@keyframes btn10-hover {
    to {
        opacity: 0.5;
    }
}

.btn-11Wrapper {
    background-color: goldenrod;
}

.btn-11Wrapper .btn {
    background-color: white;
    color: goldenrod;
}

.btn-11Wrapper .btn:hover {
    animation: btn11-hover 2s;
    animation-iteration-count: infinite;
}

@keyframes btn11-hover {
    25% {
        background-color: purple;
    }
    50% {
        background-color: rgb(117, 42, 117)
    }
    75% {
        background-color: rgb(117, 59, 117)
    }
    100% {
        background-color: rgb(104, 84, 104)
    }
}