@import url('https://fonts.googleapis.com/css?family=Dosis:400,600');

body, html {
	height: 100%;
	font-family: 'Dosis', sans-serif;
	color: #fff;
	margin: 0;
}

.btn {
	font-size:20px;
	background-color:#fff;
	padding:20px;
	color:#333;
	border-radius: 20px;
}

.wrapper:not(.main) {
	width: 24%;
}

h1 {
	margin:0;
}

.wrapper {
	height:50vh;
	display:flex;
	align-items:center;
	justify-content:center;
	min-height:250px;
	flex-direction:column;
	background:#00A5CF;
	border:solid 0.5px;
}

section {
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
	margin:30px 0;
}

.main {
	background-color: #E94F37;
	padding-top: 20px;
}

.btn-4Wrapper {
    background-color: goldenrod;
}

.btn-4Wrapper .btn {
    color: goldenrod;
    animation-name: btn4;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-delay: 0s;
    box-shadow: 0px 5px 0px rgb(140, 150,153,0.719);
    
   
}

@keyframes btn4 {
   from {
       transition-property: none;
   }
   to {
       transition-property: all;
       
   }
}

.btn-9Wrapper 
{
  background-color: rgb(156, 39, 176);
  
}
.btn-9Wrapper .btn
{
 color: rgb(156, 39, 176);  
}
.btn-9Wrapper:hover .btn {
    background-color: rgb(255, 155, 245);
     /* animation-name: focus-btn9;  */
    animation-duration: 1s;
    animation-timing-function: 2 ease;
    animation-delay: 0s;
   
}

/* @keyframes focus-btn9 { 
  to {
      
       color: rgb(156, 39, 176); 
       transition-property: all; 
  }
}  */

.btn-11Wrapper {
background-color: gold;
 
}

.btn-11Wrapper .btn {
    color: gold;
}

.btn-11Wrapper:hover .btn {
   
    animation-name:or-ange;
    animation-duration: 2s;
    animation-timing-function:ease-in;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    
}

.btn-10Wrapper
{
    background-color: #EE4266
}

.btn-10Wrapper .btn {
    color: #EE4266
}

/* .btn-10Wrapper:hover .btn 
{
  
} */

.btn-1Wrapper 
{
   background-color:   #8FB339;
}

.btn-1Wrapper .btn
{
    color:  #8FB339;
}

.btn-1Wrapper:hover .btn 
{
   
  opacity: (0,1);
  transform: scale(1,1);
    
}

/* @keyframes greenish 
{



} */

.btn-7Wrapper 
{
   background-color:#673AB7;
   
   
}

.btn-7Wrapper .btn
{
    color:#673AB7;
  
    border-radius: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;

}
.btn-7Wrapper:hover .btn 
{
    transition: 0.5s;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
   
    
}

.btn-6Wrapper 
{
  background-color: #3F88C5;
}

.btn-6Wrapper .btn
{
    color: #3F88C5;
    transition: 0.3s;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
    box-shadow: 0px 8px 10px 0px rgb(0 0 0 / 30%), 
    inset 0px 4px 1px 1px white, 
    inset 0px -3px 1px 1px rgb(204 198 197 / 50%);
}

.btn-8Wrapper 
{
  background-color: #8bc34a;
}

.btn-8Wrapper .btn
{

    color: #8bc34a;
 
}

.btn-8Wrapper:hover .btn
{
    transform: rotateX(25deg);
    transition: 0.5s;
    box-shadow: 0px 8px 10px 0px rgb(0 0 0 / 30%), 
    inset 0px 4px 1px 1px white, 
    inset 0px -3px 1px 1px rgb(204 198 197 / 50%);
}

.btn-5Wrapper 
{
    background-color:  #7DCFB6;
}
.btn-5Wrapper .btn 
{
    color:  #7DCFB6;
}

.btn-2Wrapper 
{
    background-color:   #45a0b9;
}
.btn-2Wrapper .btn 
{
    color:   #45a0b9;
}

.btn-3Wrapper 
{
    background-color:    #EE6352;
}
.btn-3Wrapper .btn 
{
    color:  #EE6352;
}



@keyframes or-ange {

0% {
    background-color: rgb(156, 39, 176);
}
55% {
    background-color: rgb(156, 39, 176);
}

75% {
    background-color: rgb(248, 232, 255) ;

}
100% {
    background-color: rgb(156, 39, 176);
    

}
    
}


.btn-12Wrapper {
    background-color:rgb(89,201,165);
   
}

.btn-12Wrapper .btn {
     color: rgb(89,201,165); 
    animation-name:aqua-marine;
    animation-duration: 1s;
     animation-timing-function: ease; 
    animation-delay: 0s;
     animation-iteration-count: infinite; 
    animation-fill-mode: none;
    animation-play-state: running;
    }

@keyframes aqua-marine {
0%{
    border-top-left-radius: 0px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-right-radius: 20pz;
}
55% {
    border-top-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 20px;
    border-bottom-right-radius: 20pz;
}

75%{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0px;
    border-bottom-right-radius: 20px;
}

100% {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-right-radius: 0px;
}


    
}

