{% extends 'blog/base.html' %}

{% load static %}

{% block title_link %}
<title>Edit Post</title>
<link rel="stylesheet" href="{% static 'blog/styles.css' %}"><link>
{% endblock title_link %}

{% block content %}
<h1>{{ request.user }} | Edit Post:</h1>
<h1>{{ post.title }}</h1>
<p>{{ post.body }}</p>
<form action="{% url 'blog:edit' post.id %}" method="post">
    <div class="form edit">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Submit</button>
    </div>
</form>
{% endblock content %}   