<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script defer src="./main.js"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <input v-model="uppercase" type="text" placeholder="" />
      <input v-model="lowercase" type="text" placeholder="" />
      <input v-model="digits" type="text" placeholder="" />
      <input v-model="specialCharacters" type="text" placeholder="" />
      <button v-on:click="generatePassword">Generate Password</button>
      <h3>{{password}}</h3>
    </div>
  </body>
</html>
