<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Todo's</title>
    <a href="{%  url 'todolist:todo'  %}">To-Do list</a>
</head>
<body>
    <form action="{%  url 'todolist:add'  %}" method="POST">
        {% csrf_token %}
        <input type="text" placeholder="Enter To-do" name="todo">
        <button type="submit">Save To-Do</button>
    </form>
</body>
</html>