<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile | Blog</title>
</head>
<body>
  <h1>Welcome {{ request.user }}</h1>
  <div style="display: flex;flex-direction: row;">
    <a href="{% url 'blog:create' %}" style="margin-right: 20px;">Create new post</a>
    <a href="{% url 'blog:posts' id=request.user.id %}">View other user's post</a>
</div>
  <ul>
    {% for blog in blogs %}
    <div style="display: flex;flex-direction: row;">
      <li>{{ blog.title }}</li>
      <a href="{% url 'blog:edit' blogpost_id=blog.id %}" style="margin-left: 15px;">edit</a>
    </div>
    {% endfor %}
  </ul>
  <a href="{% url 'blog:logout' %}">Log out</a>
</body>
</html>

<!-- <input type="text" value="{{ blog.title }}"> -->