<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Todos</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script defer src="./main.js"></script>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div id="app">
        <!-- <input v-model="todoInp" type="text">
        <button v-on:click="createTodo">CREATE</button> -->
        <div id="lol">
            <input v-model="todoInp" type="text">
            <!-- <h3>{{todoInp}}</h3> -->
            
        </div>

        <div>texting = {{newValue}}</div>
        <button v-on:click="add">+</button>
        <!-- <div v-model="hijk"></div> -->
        <!-- <div v-model="incDiv">
            <h1>Todo List</h1>
            <ul v-model="incList">
            </ul>
        </div>
        <div v-model="cmpDiv">
            <h1>Completed List</h1>
            <ul v-model="cmpList">
            </ul>
        </div> -->
    </div>
</section>
</body>
</html>