{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'routing/company.css' %}">
    <style>
    </style>
    <title>Title</title>
</head>
<body>
    <header>
        Major Airline
        <br>
        <br>
        <img src ="https://p1.pxfuel.com/preview/311/630/453/airplane-aviation-private-jet.jpg" height=300px>
    </header>
    <br>
    <nav1>
        <table>
            <thead>
                    <th><a href="https://google.com">Google</a></th>
                        <th><a href="https://youtube.com">Youtube</a></th>
                            <th><a href="https://facebook.com">Facebook</a></th>
            </thead>
        </table>
    </nav1>
    <br>
        <div class="grid1">
            <div class="grid-item">
                <img src ="https://picsum.photos/200">
                <br>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque illo vero nihil eum dolore, tenetur ut, distinctio eligendi officiis cum iure repellendus error incidunt natus beatae, alias culpa magni. Amet!
            </div>
            <div class="grid-item">
                <img src ="https://picsum.photos/200">
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio ratione, possimus molestiae eligendi voluptatem rem, cumque unde dolore doloremque impedit, soluta consequatur. Temporibus similique, dolorem ipsa libero labore recusandae animi?
            </div> 
            <div class="grid-item">
                <img src ="https://picsum.photos/200">
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque odit consectetur perspiciatis velit fugit delectus sapiente repellendus sit eum laboriosam earum, saepe qui non dolorem, vitae eveniet pariatur, illo necessitatibus?
            </div> 
            <div class="grid-item">
                <img src ="https://picsum.photos/200">
                <br>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio porro saepe hic nulla id necessitatibus autem ea, est illum eius numquam molestias culpa minima accusantium sapiente unde sequi praesentium qui.
            </div> 
            <div class="grid-item">
                <img src ="https://picsum.photos/200">
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis rem nam, provident beatae nobis sit ex ab placeat laboriosam at et necessitatibus unde velit ipsum dolore animi delectus impedit aut.
            </div> 
            <div class="grid-item">
                <img src ="https://picsum.photos/200">
                <br>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Et nobis esse totam exercitationem harum optio. Ipsum eum, nisi saepe minus perferendis error quam, asperiores adipisci magnam minima id, neque officia.
            </div> 
            <div class="grid-item">
                <img src ="https://picsum.photos/200">
                <br>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde quibusdam consequuntur est saepe nulla odio debitis laudantium modi praesentium repudiandae, neque vero veritatis aliquam reprehenderit similique deleniti nesciunt, blanditiis ducimus!
            </div> 
            <div class="grid-item">
                <img src ="https://picsum.photos/200">
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo nihil repellat esse odio, omnis culpa quis inventore aliquid ratione, eaque, blanditiis architecto distinctio molestias! Veniam labore fugit necessitatibus exercitationem odio!
            </div> 
            <div class="grid-item">
                <img src ="https://picsum.photos/200">
                <br>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos obcaecati necessitatibus non cum molestiae dignissimos sapiente odit amet, distinctio, temporibus est voluptatum fuga illum, eaque aspernatur adipisci eligendi. Ad, itaque!
            </div> 
    <br>
    <br>
    <br>
</body>
<footer>
    <nav2>
        <a href="https://twitter.com" class="vert">Twitter</a>
        <a href="https://wikipedia.com" class="vert">Wikipedia</a>
        <a href="https://instagram.com" class="vert">Instagram</a>
    </nav2>
</footer>
</html>